---
layout: default.hbs
title: index
keywords: index
description: index
---

<div class="container">
    <div id="app"></div>
    <!-- Start People -->
    {{#each index.people}}
        <div>{{firstName}} {{lastName}}</div>
    {{/each}}
    <!-- End People -->
    <hr />
    
    <button class="btn btn-primary">asdad</button>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    {{index.coba}}
</div>
