---
layout: default.hbs
title: index
keywords: index
description: index
---

<div id="app"></div>
{{#each index.people}}{{firstName}} {{lastName}}{{/each}}
<hr />
<br/>
<br/>
<br/>
<br/>
<br/>
{{index.coba}}
