<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>{{title}}</title>
		<meta name="keywords" content="{{keywords}}">
		<meta name="description" content="{{description}}">
		<meta name="format-detection" content="telephone=no, email=no">
		<meta name="applicable-device" content="mobile">
	</head>
	<body>
		{% body %}
		{{>footer}}
		<script src="./assets/vendor/js/jquery-3.2.1.slim.min.js"></script>
		<script src="./assets/vendor/js/popper.min.js"></script>
		<script src="./assets/vendor/js/bootstrap.min.js"></script>
	</body>
</html>
